<% layout('./layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <form method="post" action="/listings" novalidate class="needs-validation">
      <h3>Add New Listing</h3>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="add a catchy title"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          placeholder="give a brief description about the site"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="image[url]"
          placeholder="enter image URL/link"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="price"
            placeholder="ex:1200"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            placeholder="ex:India"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          placeholder="ex:Jaipur, Rajasthan"
          class="form-control"
          required
        />
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
